# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Build
dist
build

# Environment
.env
.env.production

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage

# Docs
*.md
docs

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Misc
*.log