# Groq
GROQ_API_KEY=your_groq_key_here

# Django
SECRET_KEY="your_django_secret_key"
DEBUG=True
ALLOWED_HOSTS=localhost

# DRF Throttling
THROTTLE_RATE_ANON=10/hour

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000

REDIS_URL="your-redis-url"